<!-- This is the main handlebars page -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <h1 class="header center text-lighten-2">ALL</h1>
      <div class="row">  
        <div class="parallax">
          <img src="../static/images/all.png" alt="Unsplashed background img 1">
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <div class="section">
    {{#each place}}
    <div class="row">
      <div class="col md 2">
        <a href="{{category}}/{{id}}"><img class="thumbs" src="{{ pictures }}"></a>
      </div>
        <div class="col md 10">
          <a href="{{category}}/{{id}}"><h5>{{ name }}</h5></a>
          <ul>
            <li>{{ address }}</li>
          </ul>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
    