{{#each place}}
<div class="placepage">
  <div class="row">
    <div class="col md 2">
      <img class="thumbs" src="{{ pictures }}">
    </div>
    <div class="col md 10">
      <h3>{{ name }}</h3>
      <p>{{ address }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col md 12 offset-m2">
      <h5>Reviews</h5>
    </div>
  </div>
  <div class="row">
    <div class="col md 2 offset-m2">
      {{#each users}}
      <p>{{ userName }}</p>
      {{/each}}
      {{/each}}
    </div>
      <div class="col md 8">
      {{#each ratings}}
      <p><span class="stars">{{ stars }}</span> <span class="comment">{{ comment }}</span></p>
      {{/each}}
      {{#each place}}
    </div>
  </div>
  <div class="row">
    <div class="col md 12 offset-m2">
      <h5>Write a Review for {{ name }}:</h5>
      <form method="POST" action="/ratings">
        <p class="starIcons"><i class="fa fa-star-o notClicked"></i><i class="fa fa-star-o notClicked"></i><i class="fa fa-star-o notClicked"></i><i class="fa fa-star-o notClicked"></i><i class="fa fa-star-o notClicked"></i></p>
        <input class="hide" name="placeId" value="{{ id }}">
        {{/each}}
        <input class="hide starInput" name="stars" value="0">
        <textarea id="textarea1" name="comment" class="materialize-textarea"></textarea>
        {{#if msg}}
          <div class="row">
            <div class="col s4 offset-s4">
              <p class="errormsg">{{msg}}</p>
            </div>
          </div>
        {{/if}}
        <button class="waves-effect waves-light btn addthings reviewBtn">Submit</button>
      </form>
      
    </div>
  </div>
</div>